DATABASE_URL="postgresql://user:password@host:port/dbname"

# URL para migraciones y el db pull (Directa - Puerto 5432)
DIRECT_URL="postgresql://user:password@host:port/dbname"
#holamundo
SUPABASE_JWT_SECRET="your-jwt-secret-here"

SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_ANON_KEY="your-anon-key-here"