DATABASE_URL=postgresql://postgres.hprqxlrmxupcrincmrff:fWJoPjFTTTo34sP3@aws-1-sa-east-1.pooler.supabase.com:5432/postgres

# URL para migraciones y el db pull (Directa - Puerto 5432)
DIRECT_URL="postgresql://postgres.hprqxlrmxupcrincmrff:fWJoPjFTTTo34sP3@db.hprqxlrmxupcrincmrff.supabase.co:5432/postgres"
#holamundo
SUPABASE_JWT_SECRET="2OBSuwooxNcB459ffRF9q9L351PoZET84ywidzDP69Sv7iaHM8VT/PCe60pBNwZ9Up4UpwXP52IeSfoTvcYf5A=="

SUPABASE_URL="https://hprqxlrmxupcrincmrff.supabase.co"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhwcnF4bHJteHVwY3JpbmNtcmZmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2MTcwMjEsImV4cCI6MjA5MTE5MzAyMX0.UAvVcV2PAKoGj8LJzi1aJI_XWkzZviQxP8SnSnJ00A0"